header, footer {
    background-color: rgba(var(--bs-dark-rgb));
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.index-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.choice-class {
    display: flex;
    margin-left: 220px;
    margin-bottom: 10px;
}

.select-item {
    width: 100%;
    height: 30px;
    border-width: 2px;
    border-radius: 6px;
}

.div-checkbox {
    margin-left: 220px;
    margin-bottom: 5px;
}

.radiobox {
    display: inline-block;
    margin-left: 220px;
}

.nav-color {
    color: rgba(255, 255, 255, 0.5)
}

.nav-item nav-link {
    color: red
}