header, footer {
    background-color: rgba(var(--bs-dark-rgb));
}

.index-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.choice-class {
    display: flex;
    margin-left: 220px;
    margin-bottom: 10px;
}

.select-item {
    width: 100%;
    height: 30px;
    border-width: 2px;
    border-radius: 6px;
}

.div-checkbox {
    margin-left: 220px;
    margin-bottom: 5px;
}

.radiobox {
    display: inline-block;
    margin-left: 220px;
}

.nav-color {
    color: rgba(255, 255, 255, 0.5)
}

.nav-item nav-link {
    color: red
}

/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #6c757d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Ссылки внутри выпадающего списка */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Изменение цвета выпадающих ссылок при наведении курсора */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
    background-color: dimgrey;
}